.article-detail-wrapper {
    position: fixed;
    padding: 24px 64px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 100;
}

.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: black;
}

.detail-images,
.article-info {
    min-height: 450px;
    height: 100%;
}

.detail-images {
	position: relative;
    margin-right: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 100%;
    background-color: white;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    scroll-behavior: smooth;
}

.detail-images::-webkit-scrollbar,
.detail-images::-webkit-scrollbar-thumb,
.detail-images::-webkit-scrollbar-track {
	display: none;
	appearance: none;
}

.detail-images>img,
.detail-images>video {
    width: 100%;
    max-height: 100%;
    flex: none;
}

.detail-images > .picture-controller {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 30px;
}

.picture-controller > .prev-image,
.picture-controller > .next-image {
	display: none;
	width: 30px;
	height: 100%;
	border: none;
	background: none;
	cursor: pointer;
}

.picture-controller > .prev-image {
	left: 8px;
}

.picture-controller > .next-image {
	right: 8px;
}

.picture-controller > .prev-image.active,
.picture-controller > .next-image.active {
	position: absolute;
	display: block;
}

.picture-controller > .prev-image > img,
.picture-controller > .next-image > img {
	pointer-events: none;
}

.article-info {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
}

.detail-container .article-header {
    height: 70px;
    border-top-right-radius: 4px;
}

.detail-container .writer-info {
    width: 390px;
}

.comments-wrapper {
    padding: 16px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comments-wrapper::-webkit-scrollbar,
.comments-wrapper::-webkit-scrollbar-thumb,
.comments-wrapper::-webkit-scrollbar-track,
.comments-wrapper::-webkit-scrollbar-track-piece {
    appearance: none;
}

.detail-contents {
    padding: 12px 0 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.detail-contents>div {
    display: flex;
    flex-direction: row;
}

.detail-contents .writer-image {
    margin-right: 18px;
}

.detail-contents:hover .comment-modal-button {
	display: flex;
}

.comment-modal-button {
	display: none;
	width: 24px;
	height: 24px;
	border: none;
	background: none;
	cursor: pointer;
}

.comment-modal-button > img {
	width: 24px;
	height: 24px;
	pointer-events: none;
}

.detail-texts {
    display: flex;
    flex-direction: column;
    max-width: 395px;
}

.detail-container .writer-username {
    font-weight: 400;
}

.detail-texts .writer-username {
    margin-right: 4px;
}

.content-description {
    max-width: 305px;
    word-break: break-all;
}

.detail-texts .upload-time {
    margin: 16px 12px 4px 0;
}

.reply-buttons {
    display: flex;
    align-items: flex-end;
}

.reply,
.comment_like_count {
    margin: 0 12px 3px 0;
    border: none;
    background: none;
    font-size: 12px;
    font-weight: 500;
    color: rgb(142, 142, 142);
    cursor: pointer;
}

.comment-like-button {
    margin-top: 9px;
    border: none;
    background: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.comment-like-button>img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.show-reply-comment {
    margin-left: 54px;

}

.show-reply-comment > .detail-contents {
	display: none;
}

.show-reply-comment.active > .detail-contents {
	display: flex;
}

.show-reply-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer;
}

.show-reply-button>span {
    margin-right: 16px;
    width: 24px;
    border-bottom: 1px solid rgb(142, 142, 142);
}

.show-reply-button>button {
    border: none;
    background: none;
    font-size: 12px;
    font-weight: 500;
    color: rgb(142, 142, 142);
    line-height: 16px;
}

.show-reply-button>span,
.show-reply-button>button {
	pointer-events: none;
}

.detail-content {
    max-width: 340px;
}

.article-info .article-description {
    border-top: 1px solid rgb(239, 239, 239);
}

.article-info .article-icons {
    margin: 0;
}