main {
    width: 100%;
    height: auto;
}

.main-wrapper {
    margin: 60px auto 0;
    display: flex;
    justify-content: flex-start;
    max-width: 935px;
    flex-flow: row nowrap;
}

aside {
    position: fixed;
    top: 94px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 293px;
    height: 937px;
}

.profile-description {
    margin: 18px 0 10px;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 56px;
}

.profile-description-image {
    margin-right: 6px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(142, 142, 142);
}

.profile-description-image img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.profile-texts {
    position: relative;
    top: -3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 207px;
    height: 30px;
}

.principal-username,
.principal-nickname {
    margin-left: 12px;
    font-weight: 400;
    line-height: 18px;
}

.principal-nickname {
    color: rgb(142, 142, 142);
}

.profile-description>div:last-child {
    position: relative;
    top: -3px;
    width: 24px;
    height: 16px;
}

.profile-description button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgb(0, 149, 246);
    cursor: pointer;
}

.recommend-users {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recommend-title {
    display: flex;
    justify-content: space-between;
    margin: 12px 0 8px;
    padding: 4px 0;
    width: 100%;
    height: 19px;
}

.recommend-title>span {
    position: relative;
    top: -5px;
    font-weight: 500;
    color: rgb(142, 142, 142);
    line-height: 18px;
}

.recommend-title>button {
    position: relative;
    top: -3px;
    height: 16px;
    border: none;
    background: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: rgb(38, 38, 38);
    cursor: pointer;
}

.recommend-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0;
    width: 100%;
    height: 48px;
}

.user-image {
    margin-left: 3px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.user-image>img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.user-description {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 30px;
}

.recommend-username {
    position: relative;
    top: -3px;
    font-weight: 500;
    line-height: 18px;
}

.recommend-info {
    font-weight: 400;
    color: rgb(142, 142, 142);
    font-size: 12px;
    line-height: 16px;
}

.recommend-user>button {
    width: 36px;
    height: 16px;
    border: none;
    background: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: rgb(0, 149, 246);
    cursor: pointer;
}

.aside-footer {
    width: 100%;
    height: 129px;
}

.links {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.links>ul {
    max-width: 100%;
    list-style: none;
}

.links li,
.copyright {
    display: inline-block;
    font-size: 12px;
    text-transform: none;
    color: rgb(199, 199, 199);
}

.links li a {
    font: inherit;
    color: rgb(199, 199, 199);
}

.links li::after {
    font: inherit;
    content: '\00B7';
    margin: 0 3px;
}

.links li:last-child::after {
    content: none;
    margin: 0;
}

.copyright span {
    font: inherit;
}

.article-area {
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 614px;
    width: 100%;
}

.story-area {
    margin: 24px 0;
    padding: 16px 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 119px;
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
    overflow: hidden;
}

.has-no-stories {
    list-style: none;
    margin-left: 45px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.story {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.story-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
    background-image: url("/static/images/story-background.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.story-image img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.story-username {
    height: 16px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

article {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
}

.article-header {
    padding: 14px 0 14px 16px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(239, 239, 239);
    background-color: white;
}

.writer-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.writer-image img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.writer-info {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 504px;
    height: auto;
}

.writer-username {
    width: 100%;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
}

.remark {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
}

.article-menu {
    margin-right: 8px;
    padding: 8px;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.article-menu img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

.pictures {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.pictures ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    overflow: hidden;
    list-style: none;
}

.picture {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 614px;
    max-height: 766.5px;
}

.picture img {
    width: 614px;
    object-fit: contain;
}

.image-index {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6px;
}

.image-index span:not(:last-child) {
    margin-right: 4px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(168, 168, 168);
}

.current-index {
    background-color: rgb(0, 149, 246);
}

.article-description {
    width: 100%;
    background-color: white;
}

.article-icons {
    margin-top: -34px;
    padding: 6px 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
}

.left-button {
    margin-left: -8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 40px;
}

.right-button {
    height: 100%;
}

.left-button>button,
.right-button>button {
    padding: 8px;
    width: 40px;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
}

.left-button span,
.right-button span {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
}

.like-button {
    background-image: url("/static/images/menu_activity.png");
}

.like-button.pressed {
    background-image: url("/static/images/reaction_like_pressed.png");
}

.left-button>button:first-child>span:hover {
    background-image: url("/static/images/menu_activity_hover.png");
}

.comment-button {
    background-image: url("/static/images/reaction_comment.png");
}

.left-button>button:nth-child(2)>span:hover {
    background-image: url("/static/images/reaction_comment_hover.png");
}

.share-button {
    background-image: url("/static/images/menu_message.png");
}

.left-button>button:last-child>span:hover {
    background-image: url("/static/images/menu_message_hover.png");
}

.save-to-collection {
    background-image: url("/static/images/reaction_collect.png");
}

.right-button>button>span:hover {
    background-image: url("/static/images/reaction_collect_hover.png");
}

.who-likes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    padding: 0 16px;
    width: 100%;
    height: 24px;
}

.represent-image {
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.represent-image img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.represent-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.represent-comment {
    height: 16px;
    line-height: 16px;
    font-weight: 400;
}

.represent-username,
.how-many-likes {
    font-weight: 500;
}

.article-texts {
    padding: 0 16px;
    width: 100%;
    height: 22px;
}

.article-texts>span {
    margin-bottom: 4px;
    height: 18px;
    line-height: 18px;
}

.description-username {
    margin-right: 4px;
    font-weight: 500;
}

.description-text {
    font-weight: 400;
}

.show-comments-button {
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(142, 142, 142);
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
}

.upload-time-wrapper {
    margin-bottom: 16px;
    padding-left: 16px;
    width: 100%;
    height: 18px;
}

.upload-time {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: rgb(142, 142, 142);
}

.write-comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 16px;
    width: 100%;
    height: 53px;
    border-top: 1px solid rgb(239, 239, 239);
}

.emoji-wrapper {
    padding: 8px 16px 8px 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.emoji-wrapper img {
    width: 100%;
    height: 100%;
}

.write-comment textarea {
    flex-grow: 1;
    height: 18px;
    line-height: 18px;
    max-height: 80px;
    outline: none;
    resize: none;
    border: none;
    overflow: hidden;
}

.comment-submit-button {
    width: 28px;
    height: 18px;
    opacity: 0.3;
    color: rgb(0, 149, 246);
    font-weight: 500;
    line-height: 18px;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 1;
}

.comment-submit-button.disabled {
    cursor: default;
    opacity: 0.3;
}