header {
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        padding: 0px 46.5px;
        max-width: 100%;
        width: calc(100vw - 110px);
        height: 70.81px;
        z-index: 200;
}

header::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

header > a {
        display: flex;
        align-items: center;
        margin-right: 28px;
        width: auto;
        height: 100%;
        font-size: 0.9rem;
}

header > a:first-child {
        margin-right: 37px;
}

.logo {
        width: 87.8px;
        height: 100%;
        background-image: url("../images/logo.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 50%;
}

.live-icon {
        margin-right: 5px;
        width: 24px;
        height: 24px;
        background-image: url("../images/icon_menu_live.svg");
        background-size: contain;
        background-repeat: no-repeat;
}

.user-icons {
        margin-left: auto;
        display: flex;
        align-items: center;
        height: 100%;
}

.user-icons button, .profile {
        width: 28px;
        height: 28px;
        border: none;
}

.user-icons button {
        margin-right: 28px;
        background: none;
        background-image: url("../images/icon_search.svg");
}

.profile {
        background-image: url("../images/profile-image.webp");
        background-size: contain;
        border-radius: 4px;
}

main {
        position: relative;
        top: -70.8px;
        margin-top: 70.81px;
        width: 100%;
        height: 100%;
}

.title-wrapper {
        position: relative;
        max-width: 100%;
        height: 80%;
}

.main-image {
        width: 100%;
        height: 100%;
        background-image: url("../images/main-title.webp");
        background-size: contain;
        background-repeat: no-repeat;
}

.main-image::after{
        display: flex;
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 80px;
        left: 0;
        width: 100%;
        min-height: 300px;
        max-height: 20%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.before-arrow, .after-arrow {
        position: absolute;
        top: 0;
        width: 51px;
        height: 75%;
        opacity: 0.5;
}

.before-arrow {
        background-image: url("../images/icon_slide_left.svg");
        background-size: 100% auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
}

.after-arrow {
        right: 13px;
        background-image: url("../images/icon_slide_right.svg");
        background-size: 100% auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
}

.to-detail-button {
        position: absolute;
        right: 70px;
        top: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 163.5px;
        height: 58.5px;
        border: 1px solid white;
        border-radius: 4px;
        font-size: 0.9rem;
        backdrop-filter: blur(30px);
}

.text-wrapper {
        position: absolute;
        bottom: calc(20% + 100px);
        left: 51px;
        display: flex;
        flex-direction: column;
}

.banner-title {
        font-size: 2.7rem;
        font-weight: bold;
        line-height: 1.25;
}

.banner-desc {
        margin-top: 1rem;
        font-size: 1.2rem;
        opacity: 0.87;
}

.swiper-wrapper {
        display: flex;
        margin-top: 1rem;
        height: 17.5px;
}

.swiper-wrapper span {
        display: block;
        width: 17.5px;
        height: 100%;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url("../images/non-focus-dot.png");
}

.swiper-wrapper span:first-child {
        background-size: 65% auto;
        background-image: url("../images/pause.png");
}

.swiper-wrapper span:nth-child(2) {
        background-image: url("../images/on-focus-dot.png");
}

.contents-wrapper {
        position: relative;
        top: -215px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 38px;
        padding: 0 51px;
}

.contents-wrapper-title {
        margin-top: 21.5px;
        padding-bottom: 13px;
        width: auto;
        height: 100%;
        font-size: 1.2rem;
}

.contents-wrapper-title:first-child {
        margin: 0;
}

.live {
        width: 253px;
        height: 216px;
}

.live img {
        width: 100%;
        height: 142px;
        border-radius: 4px;
}

.recommend {
        height: 375px;
}

.recommend img {
        width: 178px;
        height: 256px;
        border-radius: 4px;
}

.contents {
        display: flex;
        width: auto;
}

.content {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
}

.content-info {
        display: flex;
        padding: 8.5px 14px 0 1px;
        width: 239px;
}

.item-info {
        padding: 8.5px 14px 0 1px;
        width: 100%;
        height: 33.5px;
        font-size: 14px;
}

.item-info span {
}

.numbering {
        position: relative;
        top: 6px;
        left: -2px;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        transform: skewX(-10deg) translateY(-0.2em);
}

.info-desc {
        padding-left: 11px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 13px;
}

.info-desc > span {
        height: 23px;
        line-height: 23px;
}

.broadcaster {
        color: rgba(255,255,255,.87);
}

.content-title {
        color: rgba(255,255,255,.64);
}

.rating {
        color: rgba(255,255,255,.43);
}