<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/main/article_detail.css">
    <link rel="stylesheet" href="/static/css/main/main.css">
</head>

<body>
    <div class="article_detail-wrapper">
        <div class="detail-container">
            <div class="detail-images">
                <img src="/static/images/article-image1.webp" alt="">
            </div>
            <div class="article-info">
                <div class="article-header">
                    <div class="writer-image">
                        <img src="/static/images/user_profile_images/hippo2003.ico" alt="게시글 작성자 프로필 이미지">
                    </div>
                    <div class="writer-info">
                        <a href="#" class="writer-username">asdfdsafsad</a>
                        <span class="remark">adsfasdf</span>
                    </div>
                    <button type="button" class="article-menu">
                        <img src="/static/images/article_menu.png" alt="옵션 더 보기">
                    </button>
                </div>
                <div class="comments-wrapper">
                    <div class="detail-contents">
                        <div>
                            <div class="writer-image">
                                <img src="/static/images/user_profile_images/hippo2003.ico" alt="">
                            </div>
                            <div class="detail-texts">
                                <div class="detail-content">
                                    <span class="writer-username">asdfdsafsad</span>
                                    <span
                                        class="content-description">fdjghlkjadhjgladjkgblkjadngjkadnkjvnad.nga.dnv</span>
                                </div>
                                <div class="reply-buttons">
                                    <span class="upload-time">6시간 전</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail-contents">
                        <div>
                            <div class="writer-image">
                                <img src="/static/images/user_profile_images/hippo2003.ico" alt="">
                            </div>
                            <div class="detail-texts">
                                <div class="detail-content">
                                    <span class="writer-username">asdfdsafsad</span>
                                    <span
                                        class="content-description">fdjghlkjadhjgladjkgblkjadngjkadnkjvnad.nga.dnv</span>
                                </div>
                                <div class="reply-buttons">
                                    <span class="upload-time">6시간 전</span>
                                    <button type="button" class="reply">답글 달기</span>
                                </div>
                            </div>
                        </div>
                        <button class="comment-like-button">
                            <img src="/static/images/article_detail_like_comment_button.png" alt="">
                        </button>
                    </div>
                    <div class="show-reply-comment">
                        <div class="show-reply-button">
                            <span></span>
                            <button type="button">답글 숨기기</button>
                        </div>
                        <div class="detail-contents">
                            <div>
                                <div class="writer-image">
                                    <img src="/static/images/user_profile_images/hippo2003.ico" alt="">
                                </div>
                                <div class="detail-texts">
                                    <div class="detail-content">
                                        <span class="writer-username">asdfdsafsad</span>
                                        <span
                                            class="content-description">fdjghlkjadhjgladjkgblkjadngjkadnkjvnad.nga.dnv</span>
                                    </div>
                                    <div class="reply-buttons">
                                        <span class="upload-time">6시간 전</span>
                                        <button type="button" class="reply">답글 달기</span>
                                    </div>
                                </div>
                            </div>
                            <button class="comment-like-button">
                                <img src="/static/images/article_detail_like_comment_button.png" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="detail-contents">
                        <div>
                            <div class="writer-image">
                                <img src="/static/images/user_profile_images/hippo2003.ico" alt="">
                            </div>
                            <div class="detail-texts">
                                <div class="detail-content">
                                    <span class="writer-username">asdfdsafsad</span>
                                    <span
                                        class="content-description">fdjghlkjadhjgladjkgblkjadngjkadnkjvnad.nga.dnasdfdsafsafsafdsafdsfsfsfdsafsv</span>
                                </div>
                                <div class="reply-buttons">
                                    <span class="upload-time">6시간 전</span>
                                    <button type="button" class="reply">답글 달기</span>
                                </div>
                            </div>
                        </div>
                        <button class="comment-like-button">
                            <img src="/static/images/article_detail_like_comment_button.png" alt="">
                        </button>
                    </div>
                    <div class="show-reply-comment">
                        <div class="show-reply-button">
                            <span></span>
                            <button type="button">답글 보기(1개)</button>
                        </div>
                    </div>
                </div>
                <div class="article-description">
                    <div class="article-icons">
                        <div class="left-button">
                            <button type="button">
                                <span class="like-button"></span>
                            </button>
                            <button type="button">
                                <span class="comment-button"></span>
                            </button>
                            <button type="button">
                                <span class="share-button"></span>
                            </button>
                        </div>
                        <div class="right-button">
                            <button type="button">
                                <span class="save-to-collection"></span>
                            </button>
                        </div>
                    </div>
                    <div class="who-likes">

                        <div class="represent-message">
                            <span class="represent-comment">
                                <span class="how-many-likes">좋아요 1개</span>
                            </span>
                        </div>
                    </div>
                    <div class="upload-time-wrapper">
                        <span class="upload-time">6시간 전</span>
                    </div>
                    <form class="write-comment">
                        <div class="emoji-wrapper">
                            <img src="/static/images/emoji_icon.png" alt="">
                        </div>
                        <textarea name="" placeholder="댓글 달기..." autocomplete="off" autocorrect="off"></textarea>
                        <button type="button" disabled class="comment-submit-button disabled">게시</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>